<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      table, td{
        min-width: 150px;
      }
    </style>
    <script type="text/javascript">
      function ShowAndHide1() {
          var x = document.getElementById('users');
          if (x.style.display == 'none') {
              x.style.display = 'block';
          } else {
              x.style.display = 'none';
          }
      }
      function ShowAndHide2() {
          var x = document.getElementById('books');
          if (x.style.display == 'none') {
              x.style.display = 'block';
          } else {
              x.style.display = 'none';
          }
      }
    </script>
  </head>
  <body>
    <%= link_to "Logout", destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to log-out?"}%><br><br>
    <% if current_user.has_role?(:admin) %>
      <fieldset>
        <legend><strong>ADMIN DASHBOARD</strong></legend>
        <table>
          <tr>
            <td><button onclick="ShowAndHide1()">Users</button></td>
          </tr>
          <tr id="users" style="display:none;">
            <td>
              <table>
                <tr>
                  <th>Email</th>
                  <th colspan="3"></th>
                </tr>
                <% @users.each do |user|%>
                  <% unless user.has_role?(:admin)%>
                    <tr>
                      <td><%= user.email%></td>
                      <td><%= link_to "Lend Book", new_record_path(user)%></td>
                      <td><%= link_to "Books Taken"%></td>
                      <td><%= link_to "Delete User"%></td>
                    </tr>
                  <% end %>
                <% end %>
              </table>
            </td>
          </tr>
          <tr>
            <td><button onclick="ShowAndHide2()">Books</button></td>
          </tr>
          <tr id="books" style="display:none">
            <td><%= link_to "Create Books", new_book_path%></td>
            <td><%= link_to "Show Books", books_path%></td>
          </tr>
        </table>
      </fieldset>
    <% else %>
      User
    <% end %>
  </body>
</html>
